:root{
    --colorprimario: #c21858;
    --colorsecundario: #ffc107; 
    --primario: rgb(156,10,69);
    --correcto:  #11ec19;
    --error: red;
    --colorterceario: #a5a3a3;
    --fuenteprincipal: 'Source Sans Pro', sans-serif;
    --fuentesecundaria: 'Poppins', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; /**reset para rems --62.5% =10px
    rems unidad de medida para todas las pantallas*/
}

*,*:before, *:after{
 box-sizing: inherit;
}

body{
    background-color: var(--colorprimario);
}

/* GLOBALES */


.sombra{
    -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
}


.contenedor{
    width: 95%;
    max-width: 110rem;
    margin: 0 auto;
}

@media (min-width: 768px){

    .contenedor{
        width: 95%;
    }
}    

.seccion{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.centrar-texto{
    text-align: center;
}


h1{
    font-size: 3rem;
    margin: 0;
    font-family: var(--fuenteprincipal)
}

h2{
    font-size: 3.5rem;
    margin: 0;
    font-family: var(--fuentesecundaria)
}

h3{
 font-size: 3rem;
 margin: 0;
 padding: 2rem 0;
 font-family: var(--fuentesecundaria)
}

p{
    font-size: 1.8rem;
    font-family: var(--fuentesecundaria);
    margin: 0
}

@media (min-width: 768px) and (max-width: 1024px) {

    h1{
        font-size: 3rem;
        margin: 0;
        
    }

    
    h2{
        font-size: 3.6rem;
        margin: 0;
        
    }

    h3{
        font-size: 3rem;
    }

    .btn-enviar{
        display: inline-block;
        margin: 0;
        grid-column: 4/5;
        text-align: end;
    }

}


@media (min-width: 1025px){

    h1{
        font-size: 5vh;
        margin: 0;
        
    }

    h2{
        font-size: 7vh;
        margin: 0;
        
    }

    h3{
        font-size: 3rem;
    }
       

    .btn-enviar{
        display: inline-block;
        margin: 0;
        grid-column: 4/5;
        text-align: end;
    }

}


/*contenedor del boton*/
.btn-enviar{
    display: block;
    margin: 2rem 0;
    text-align: center;
}

.btn{
    padding: 1rem 6rem;
    border: none;
    color: white; 
    font-size: 1.5rem;
    font-family: var(--fuentesecundaria);
    text-decoration: none;
}

.btn-contacto{
    background-color: var(--colorprimario);
    transition: all 0.2s ease-in-out;
}
/* es recomendable poner la transccion no el el hover*/

.btn-contacto:hover{
    background-color: var(--primario);
}


/* AGENDA */

.amarillo{
    background-color: var(--colorsecundario);
    padding: 2rem;
    border-radius: 1rem;
}


/* alerta */

.notificacion{
    opacity: 0; 
    transition: all .2s ease-in-out;
    border: solid .1rem var(--colorterceario);
    font-family: var(--fuentesecundaria);
}

.notificacion p{
    padding: 1rem 3rem;
}

.correcto{
    color: var(--correcto)
}

.error{
    color: var(--error)
}


.visible{
    opacity: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px){

}

/*barra superior*/

.contenedor-barra{
    text-align: center; 
    padding: 2rem 0;
    background-color: var(--primario);
    color: white;
    display: grid;
    grid-gap: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor-barra{
        grid-template-columns: repeat(3,1fr);
        align-items: center;
    }

    .contenedor-encabezado {
        grid-column: 2/3;
    }

    
}

@media (min-width: 1025px){
    .contenedor-barra{
        grid-template-columns: repeat(3,1fr);
        align-items: center;
    }

    .contenedor-encabezado {
        grid-column: 2/3;
    }

}
.campo-contacto{
    display: grid;
    grid-template-rows: 30% 70%;
    grid-row-gap: 0.5rem;
    padding-top: 2rem
}

.campo-contacto label{
    text-align: start;
    font-family: var(--fuentesecundaria);
    font-size: 1.2rem;
}

.campo-contacto input{
    border-radius: 0.5rem;
    border: none;
    font-family: var(--fuentesecundaria);
    padding: 1rem;
    font-size: 3vw;
    height: 4rem;
}

/*css contacto */ 

@media (min-width: 768px) and (max-width: 1024px) {

    .campo-contacto input {
        font-size: 1.3vw;
    }

    .formulario-contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    #empresa {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #telefono {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #enviar{
        grid-column: -2/-1;
        grid-row: 3/4;
    }

}

@media (min-width: 1025px) {

    .formulario-contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .campo-contacto input {
        font-size: 1.2vw;
    }

    #empresa {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #telefono {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #enviar{
        grid-column: -2/-1;
        grid-row: 3/4;
    }
}


/* contenedor contactos */

.blanco{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.texto-contenedor{
    color: var(--primario)
}

.contenedor-blanco{
    max-width: 80rem;
    margin: 4rem auto 0 auto;
}

.buscador{
    width: 100%;
    padding: 1.5rem;
    margin: 2rem 0;
    font-family: var(--fuentesecundaria); 
    border-radius: 1rem;
    border:none;
}

.indicador{
    text-transform: uppercase;
}

.editar{
    font-size: 2rem;
    color: var(--colorsecundario)
}

.borrar{
    font-size: 2rem;
    color: var(--colorterceario)
}

/*esto nos ayuda a poder hacer scroll cuando el contenido esta en un movil, he notado que solo se le aplica los estilos como color a la parte visible  */ 
.scroll{
    overflow: scroll; 
}

.contenedor-indicadores{
    color: var(--primario);
    display: grid;
    grid-template-columns: repeat(5, minmax(17rem, 1fr));
    grid-column-gap: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}


.contenedor-eliminar{
    display: grid;
    grid-template-columns: repeat(5, minmax(17rem, 1fr));  /* de esta manera hacmeos que el contenedor tome un valor minumo y maximo*/ 
    grid-column-gap: 2rem;
    text-align: center;
}

.campo-result{
    min-height: 5rem;
}

/*EDITAR*/


.btn-volver{
    display:inline;
    padding-bottom: 2rem;
}

.btn-editar{
    background-color: var(--colorsecundario);
    color: var(--primario)
}

@media (min-width: 768px) and (max-width: 1024px) {
    

    .encabezado-editar{
        grid-column: 2/3
    }

    .btn-volver{
        padding-bottom: 0rem;
        grid-column: 1/2
    }
}

@media (min-width: 1025px){
   
    #encabezado-editar{
        grid-column: 2/3
    }

    .btn-volver{
        padding-bottom: 0rem;
        grid-column: 1/2
    }
}


